/* General Page Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar Styles */
  .navbar {
    justify-content: center;
  }
  
  .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Flash Messages */
  .alert {
    margin-top: 20px;
  }