<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/q_styles.css') }}">
</head>
<body>
    <h1>Welcome to Slide Manager</h1>
    <div class="button-container">
        <button id="upload-button">Upload Slides</button>
        <button id="view-button">View Slides</button>
    </div>
    <script src="{{ url_for('static', filename='js/q_scripts.js') }}"></script>
</body>
</html>